{% extends "base.html" %}
{% block title %}Recommendations{% endblock %}
{% block content %}
<h1>Recommendations for recipe with id: {{ targetID }}</h1>
<ul>
    {% for recommendation in data %}
        <li>
            <strong>{{ recommendation.name }}</strong> (ID: {{ recommendation.id }})<br>
            Cuisine: {{ recommendation.Cuisine }}<br>
            Category: {{ recommendation.Category }}<br>
            Similarity: {{ recommendation.similarity }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
